{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.contact_us_section.enable }}
{{- with $data.contact_us_section }}
<section class="section contact-us" id="contact-us">
    <div class="contact-us__background" data-aos="fade-right" data-aos-delay="1500">
        <img src="images/contact/white_bg_03.svg">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-us_content">
                    <div class="mb-2 text-left">
                        {{ .content_top | markdownify }}
                    </div>
                    <div class="mb-2 text-left">
                        <p>{{ .content_bottom }}</p>
                    </div>
                    <div class="mb-2 text-left">
                        <a class="arrow-btn" href="#"><img src="images/contact/arrow_btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-us__background-02" aos-animate aos-init data-aos="zoom-in" data-aos-delay="200">
        <img src="images/contact/white_balls.svg">
    </div>
</section>
{{ end }}
{{ end }}