.business-content {
    padding: 0px 0 120px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop {
      padding: 0px 0 30px 0;
    }
 
    &_background-svg { 
        position: absolute;
        top: -290px;
        right: 0px;
        width: 98%;
        z-index: -1;
        height: 120%;
        opacity: 0;
        animation: fade 2s 1s forwards;
        img {
            width: 100%;
            height: 100%;
          }
    
    }


    &_cover-png { 
      position: absolute;
      bottom: 1200px;
      right: 14px;
      width: 20%;
      z-index: 1;
        img {
            width: 100%;
            height: 100%;
            animation: fade 1.5s 1s forwards;
          }
    
    }

    &_cover-png-02 { 
      position: absolute;
      bottom: 442px;
      right: 1103px;
      width: 20%;
      z-index: 1;
        img {
            width: 100%;
            height: 100%;
            animation: fade 1.5s 1s forwards;
          }
    
    }


      &_tab-image-01 {
        // position: absolute;
        // bottom: 380px;
        // right: 0;
        // z-index: -1;
        width: 100%;
    
        img {
          width: 100%;
          height: 100%;
          animation: fade 2s 1s forwards;
        }
      }

      &_textbox-01{
          padding: 0 100px 0 100px;
          margin-top: 240px;
      }

      &_content-svg{
        opacity: 0;
        animation: fade 1s 2s forwards;
        img {
            width: 80%;
            height: 100%;
          }
      }

}
         // Font size override
         p {
            font-family: $font-family-base;
            font-size: $font-size-base;
            font-weight: 400;
            opacity: 0;
            transition: all 0.3 ease;
            animation: fade 1s 2s forwards;
            }
          
      
          h1 {
            font-family: $font-family-base;
            font-size: $font-size-base;
            font-weight: 400;
            opacity: 0;
            transition: all 0.3 ease;
            animation: fade 1s 2s forwards;
            &:hover {
              transform: scale(1.1);
            }
          }
      
      
      