.hero {
  padding: 400px 0 300px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    padding: 150px 0 30px 0;
  }

  .animation-outer {
    position: absolute;
  }

  .animation-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
  } 

  &_background-svg {
    position: relative;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_background-png {
    position: absolute;
    top: 320px;
    left: 140px;
    z-index: -1;
    animation: move_top 5s infinite linear;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &_background-png-02 {
    position: absolute;
    top: -60px;
    left: -60px;
    display: none;
    img {
      width: 100%;
      height: 100%;    
    }
  }

  @keyframes move_arcs {
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  @keyframes move_arcs_rotate {
    to {
      transform: rotate(90deg);
    }
  }

  @keyframes fade {
    to {
      opacity: 1;
    }
  }
  
  &_background-png-03 {
    position: absolute;
    top: 320px;
    right: 100px;
    z-index: -1;
    width: 25%;
    animation: move_top 5s infinite linear;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &_footer-svg {
    position: absolute;
    bottom: 20px;
    left: -130px;
    animation: move_top 5s infinite linear;
    @include desktop {
      display: none;
    }
  }
  &_content {
    padding: 0 20px 0 0;
    position: relative;
    @include desktop {
      text-align: center;
      margin-bottom: 60px;
    }
    .hero_blob {
      position: absolute;
      z-index: -1;
      top: -45%;
      left: -45%;
      height: 440px;
      width: 440px;
      svg {
        width: 100%;
        position: relative;
      }
      @include desktop {
        display: none;
      }
    }
    .icon-font {
      font-size: 30px;
      opacity: 0;
      animation: fade 2s 1s forwards;
    }

    // span {
    //   font-size: 24px;
    //   position: relative;
    //   display: block;
    //   margin: 0 0 20px 30px;
    //   @include desktop {
    //     display: inline-block;
    //   }
    // }

    // Font size override
    p {
      font-family: $font-family-base;
      font-size: $font-size-base*1.5;
      font-weight: 700;
      opacity: 0;
      transition: all 0.3 ease;
      transform: scale(1);
      animation: fade 1s 2s forwards;
      &:hover {
        transform: scale(1.3);
      }
    }

    h1 {
      font-family: $headings-font-family;
      font-size: $display4-size;
      font-weight: 900;
      opacity: 0;
      transition: all 0.3 ease;
      transform: scale(1);
      animation: fade 2s 1s forwards;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  &_figure {
    width: 90%;
    margin-left: auto;
    border-radius: 20px;
    position: relative;
    @include desktop {
      width: 100%;
    }
    .figure-svg {
      position: absolute;
      top: -55px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: -1;
      height: 150px;
      animation: move_left 5s infinite linear;
      img {
        height: 100%;
        width: 100%;
      }
    }
    img {
      height: 100%;
      width: 100%;
    }
    &-popup {
      position: absolute;
      bottom: 80px;
      left: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease;
      @include desktop {
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
      }
      .thumb {
        height: 160px;
        width: 250px;
        border: 1px solid #707070;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .popup-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: 60px;
        background: #ffffff;
        border-radius: 50%;
        z-index: 2;
        transition: all 0.3s ease;
        svg {
          position: absolute;
          top: 50%;
          left: 55%;
          transform: translate(-50%, -50%);
          transition: all 0.3s ease;

          path {
            fill: $primary;
          }
        }
        &:hover {
          background-color: $primary;
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
      }
      &:hover {
        .popup-button {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
}

@keyframes move_left {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-57%);
  }
}

@keyframes move_top {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
