{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.about_tab_section_01.enable }}
{{- with $data.about_tab_section_01 }}
<section class="tab-longtext" id="about">

    <div class="container">
        <div class="col-lg-11 col-md-11 col-sm-12">
            <div class="row align-items-left">
                <div class="tab-longtext_tab-textbox-01">
                    <div class="mb-5 text-left">
                        {{ .content_top | markdownify }}
                    </div>

                    <div class="mb-5 text-left">
                        <p>{{ .content_bottom_01 }}</p>
                    </div>
                    <div class="mb-5 text-left">
                        <p>{{ .content_bottom_02 }}</p>
                    </div>
                    <div class="mb-5 text-left">
                        <p>{{ .content_bottom_03 }}</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="row align-items-left">
            <div class="tab-longtext__background">
                <div class="tab-longtext_background-svg">
                    <img src="../images/tab-longtext/white-ball.svg">
                </div>
            </div>
        </div>
    </div>

</section>
{{ end }}
{{ end }}