{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.our_businessSection.enable }}
{{- with $data.our_businessSection }}
<section class="section our-business">
    <div class="our-business__background" data-aos="fade-left" data-aos-delay="1500">
        <img src="images/our-business/white_bg_02.svg">
    </div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-6 col-md-6 col-sm-5">
                <div class="our-business_content">
                    <div class="mb-2 text-left">
                        {{ .content_top | markdownify }}
                    </div>
                    <div class="mb-2 text-left">
                        <p>{{ .content_bottom }}</p>
                    </div>
                    <div class="mb-2 text-left">
                        <a class="arrow-btn" href="#"><img src="images/our-business/arrow_btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ball-row">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="our-business__background-02" aos-animate aos-init data-aos="zoom-in" data-aos-delay="200">
                        <img src="images/about/white_balls.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
