.hero {
  padding: 400px 0 100px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include desktop {
    padding: 150px 0 200px 0;
  }
  @include tablet {

  }
  @include mobile {
    padding: 150px 0 100px 0;
  }

  .animation-outer {
    position: absolute;
    @include mobile {
      display: none;
    }
  }

  .animation-wrapper {
    position: relative;
    width: 100%;
    margin: auto;
  } 

  &_background-svg {
    position: relative;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_background-ball-sm {
    display: none;
    @include mobile {
      display: block;
      position: absolute;
      top: 385px;
      right: 65px;
      width: 13%;
      z-index: -1;
      animation: fade 3s forwards, move_top 5s infinite linear;
      img {
        width: 100%;
      }
    }
  }

  &_background-png {
    position: absolute;
    top: 320px;
    left: 140px;
    z-index: -1;
    animation: fadeInRight 2s linear, move_top 5s infinite linear;
    @include mobile {
      width: 40%;
      left: 0;
      top: 360px;
      animation: fade 2s forwards;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  &_background-png-02 {
    position: absolute;
    top: -60px;
    left: -60px;
    display: none;
    img {
      width: 100%;
      height: 100%;    
    }
  }
  
  &_background-png-03 {
    position: absolute;
    top: 320px;
    right: 100px;
    z-index: -1;
    width: 25%;
    animation: fadeInLeft 2s linear, move_top 5s infinite linear;
    @include mobile {
      width: 45%;
      right: 0;
      top: 430px;
      animation: fade 2s forwards;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &_content {
    padding: 0 20px 0 0;
    position: relative;
    @include desktop {
      padding: 0;
      text-align: center;
      margin-bottom: 60px;
    }
    @include mobile {
      margin-top: 60px;
    }
    .icon-font {
      font-size: 30px;
      opacity: 0;
      animation: fade 2s 1s forwards;
    }

    // Font size override
    p {
      font-family: $font-family-base;
      font-size: $font-size-base*1.5;
      font-weight: 700;
      opacity: 0;
      transition: all 0.3 ease;
      transform: scale(1);
      animation: fade 1s 2s forwards;
      &:hover {
        transform: scale(1.3);
      }
    }

    h1 {
      font-family: $headings-font-family;
      font-size: $display4-size;
      font-weight: 900;
      opacity: 0;
      transition: all 0.3 ease;
      transform: scale(1);
      animation: fade 2s 1s forwards;
      @include mobile {
        font-size: $font-size-base*2;
      }
      &:hover {
        transform: scale(1.3);
      }
    }
  }
}

@keyframes move_left {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-57%);
  }
}

@keyframes move_top {
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

@keyframes move_arcs {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes move_arcs_rotate {
  to {
    transform: rotate(90deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    transition-delay: 2s;
    opacity: 0;
    transform: translateX(-100px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
 }
 100% {
    opacity: 1;
    transform: translateX(0);
 }
}
